<html>
    <head>
        <script
        src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">


        <style>
            iframe {
                width: 80%;
                height:100%;
                position: fixed;
            }
            body{
                padding: 0px;
                margin:0px;
            }
            .post{
                height:100px;
                border:1px solid black;
            }
            .row {
                height: 100%;
            }
        </style>
    </head>
    <body>

        <div class="row p-0">
                <iframe src="/scrape" frameborder="0" class="col-10 m-0 p-0"></iframe>
                <div  class="col-2 m-0 p-0">
                        <h3>Notification-Feed</h3>
                        <div class="post">
                            <p>Neue Preiss</p>
                        </div>
                </div>
               


        </div>
        
        

    </body>


</html>



