body {
    background-color: #494949;
    color: white;
}
.preise {

    width:200px;
    height:100px;
}

.sevenSeg-segOn {
    fill:#0061ff;
}

.sevenSeg-svg {
    fill:#09101b;
    
}

#changes {
   
    
}

.recent {
    
    
}

.row {
    background-color: #777777;
    border-radius: 10px;
    padding: 20px;
}
